#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>
#include "gesture/gesture_L7.dtsi"

#define MOUSE 4
#define SCROLL 5
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角
#define JP_MHEN         INT5              // Muhenkan (無変換)
#define JP_HENK         INT4              // Henkan (変換)

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

// AML時間延長とレイヤー移動が重なるとAMLから離脱できなくなるバグが発生しやすいため削除
// &mkp_input_listener {
//     input-processors = <&zip_temp_layer 5 10000>;
// };

/ {
    combos {
        compatible = "zmk,combos";

        shift_tab {
            bindings = <&kp LANG2>;
            key-positions = <12 13>;
        };

        lang {
            bindings = <&kp LANG1>;
            key-positions = <18 19>;
        };

        test {
            bindings = <&none>;
            key-positions = <34 20 22 7>;
        };
    };

    macros {
        exit_AML: exit_AML {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings = <&tog_off MOUSE>;
            label = "exit_AML";
        };

        kp_exit_AML: kp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &exit_AML>;
            label = "KP_exit_AML";
        };
    };

    behaviors {
        tog_off: toggle_layer_off {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };

        mt_exit_AML_on_tap: mt_exit_AML_on_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_exit_AML_ON_TAP";
            bindings = <&kp>, <&kp_exit_AML>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <200>;
        };

        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                 &kp W      &kp E         &kp R                 &kp T                                       &kp Y        &kp U  &kp I      &lt 7 O    &kp P
&kp A                 &kp S      &kp D         &lt 4 F               &kp G        &kp LC(Y)       &kp ESC        &kp H        &kp J  &lt 5 K    &kp L      &kp MINUS
&mt LEFT_SHIFT Z      &kp X      &kp C         &kp V                 &kp B        &kp SLASH       &kp B          &kp N        &kp M  &kp COMMA  &kp DOT    &mt LEFT_SHIFT SEMICOLON
&mt LEFT_CONTROL TAB  &kp PSCRN  &kp LEFT_GUI  &mt LEFT_ALT JP_MHEN  &lt 2 SPACE  &kp DELETE      &kp BACKSPACE  &lt 1 ENTER                               &mt RIGHT_CONTROL JP_UNDERSCORE
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        layer_1 {
            bindings = <
&kp F10              &kp F11  &kp F12  &kp LESS_THAN    &kp GREATER_THAN                         &trans  &kp HOME  &kp UP_ARROW  &kp END          &none
&kp F7               &kp F8   &kp F9   &kp JP_LPAREN    &kp JP_RPAREN     &kp UNDER      &trans  &trans  &kp LEFT  &kp DOWN      &kp RIGHT_ARROW  &none
&mt LEFT_SHIFT F4    &kp F5   &kp F6   &kp JP_LBRACKET  &kp JP_RBRACKET   &kp JP_AT      &trans  &trans  &trans    &trans        &trans           &none
&mt LEFT_CONTROL F1  &kp F2   &kp F3   &kp JP_LBRACE    &kp JP_RBRACE     &trans         &trans  &trans                                           &none
            >;
        };

        layer_2 {
            bindings = <
&kp LS(EXCL)      &kp JP_DQUOTE  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)                                &kp KP_ASTERISK  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp JP_PLUS
&kp JP_AMPERSAND  &kp JP_QUOTE   &kp JP_TILDE   &kp JP_YEN    &kp JP_PIPE    &kp LS(LT)      &kp JP_COLON  &kp KP_DIVIDE    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS
&bt BT_SEL 0      &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3  &bt BT_SEL 4   &trans          &trans        &kp NUMBER_0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp JP_EQUAL
&bt BT_CLR        &trans         &trans         &trans        &trans         &trans          &trans        &trans                                                     &kp JP_CARET
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans                                    &trans  &trans  &trans  &trans                      &trans    &trans    &mkp MB3  &trans    &trans
&trans                                    &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB4  &mkp MB1  &trans    &mkp MB2  &mkp MB5
&mt_exit_AML_on_tap LEFT_SHIFT Z          &trans  &trans  &trans  &trans  &trans      &trans  &trans    &trans    &trans    &trans    &trans
&mt_exit_AML_on_tap LEFT_CONTROL TAB      &trans  &trans  &trans  &trans  &trans      &trans  &trans                                  &mt_exit_AML_on_tap RIGHT_CONTROL JP_UNDERSCORE
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        GESTURE_L7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        GESTURE_L8 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        GESTURE_L9 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
